* Importando Numpy e Pandas

In [1]:
import numpy as np
import pandas as pd

* Preparando os dados

In [2]:
ids = np.arange(1, 126, 1, dtype=int)
idades = np.random.randint(low= 18, high= 126, size= 125, dtype= int)
lista_sexo = np.array(['M', 'F'])
sexo = np.random.choice(lista_sexo, size= 125)
lista_estados_civis = np.array(['solteiro', 'casado', 'divorciado', 'viuvo'])
estados_civis = np.random.choice(lista_estados_civis, size= 125)
sinistros = np.random.randint(low= 0, high= 2, size= 125, dtype= int)
premios = np.around(np.random.random(size=125) * 10000, 2)

# dicionario = {
#     'ids': ids,
#     'idades': idades,
#     'sexo': sexo,
#     'estados_civis': estados_civis,
#     'sinistros': sinistros,
#     'premios': premios    
# }

tab = pd.DataFrame([ids, idades, sexo, estados_civis, sinistros, premios]).T
tab.columns = ['ids', 'idades', 'sexo', 'estados_civis', 'sinistros', 'premios']
tab 
dicionario = tab.to_dict('list')
dicionario

# dados = [
#     {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
#     {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
#     {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
# ]

# dataset = pd.DataFrame(dados)
# dado = dataset.to_dict('list')
# dado

{'ids': [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88,
  89,
  90,
  91,
  92,
  93,
  94,
  95,
  96,
  97,
  98,
  99,
  100,
  101,
  102,
  103,
  104,
  105,
  106,
  107,
  108,
  109,
  110,
  111,
  112,
  113,
  114,
  115,
  116,
  117,
  118,
  119,
  120,
  121,
  122,
  123,
  124,
  125],
 'idades': [61,
  122,
  63,
  37,
  115,
  90,
  69,
  107,
  39,
  46,
  113,
  62,
  97,
  87,
  77,
  36,
  28,
  115,
  87,
  107,
  21,
  51,
  121,
  50,
  42,
  60,
  62,
  110,
  59,
  99,
  70,
  83,
  66,
  31,
  115,
  67,
  125,
  90,
  108,
  58,
  53,
  47,
  49,
  19,
  105,
  34,
  21,
  34,
  105,
  121,
  38,
  83,
  110,
  37,
  67,
  101,
  82,
  33,
  122,
  92,
  30,
  64,
  99,
  43,
  93,
  111,
  54,
  83,
  24,
  33,
  73,
  49,
  49,
  22,
  57,
  19,
  21,
  81,
  76,
  78,
  81,
  103,
  26,
  49,
  111,
  102,
  47,
  78,
  56,
  106,
  94,
  77,
  105,
  106,
  34,
  68,
  72,
  21,
  89,
  30,
  91,
  39,
  123,
  115,
  90,
  92,
  26,
  80,
  37,
  20,
  112,
  83,
  121,
  74,
  31,
  72,
  45,
  37,
  21,
  25,
  96,
  54,
  32,
  71,
  82],
 'sexo': ['M',
  'M',
  'M',
  'M',
  'F',
  'M',
  'F',
  'M',
  'F',
  'F',
  'F',
  'F',
  'F',
  'M',
  'F',
  'M',
  'F',
  'M',
  'F',
  'F',
  'M',
  'M',
  'F',
  'M',
  'F',
  'M',
  'M',
  'F',
  'F',
  'F',
  'M',
  'F',
  'F',
  'M',
  'M',
  'F',
  'M',
  'M',
  'M',
  'M',
  'F',
  'M',
  'F',
  'F',
  'M',
  'F',
  'M',
  'M',
  'F',
  'M',
  'M',
  'F',
  'M',
  'F',
  'F',
  'F',
  'M',
  'M',
  'M',
  'F',
  'F',
  'M',
  'M',
  'M',
  'F',
  'F',
  'F',
  'M',
  'M',
  'F',
  'F',
  'F',
  'F',
  'M',
  'M',
  'M',
  'F',
  'F',
  'F',
  'M',
  'F',
  'M',
  'M',
  'M',
  'F',
  'M',
  'M',
  'F',
  'M',
  'F',
  'M',
  'M',
  'F',
  'M',
  'M',
  'F',
  'F',
  'M',
  'F',
  'M',
  'M',
  'F',
  'M',
  'F',
  'M',
  'F',
  'M',
  'M',
  'F',
  'F',
  'F',
  'M',
  'F',
  'M',
  'F',
  'F',
  'M',
  'F',
  'M',
  'M',
  'F',
  'M',
  'M',
  'F',
  'F'],
 'estados_civis': ['viuvo',
  'solteiro',
  'casado',
  'casado',
  'solteiro',
  'divorciado',
  'divorciado',
  'divorciado',
  'solteiro',
  'viuvo',
  'solteiro',
  'divorciado',
  'casado',
  'casado',
  'casado',
  'solteiro',
  'divorciado',
  'casado',
  'solteiro',
  'solteiro',
  'viuvo',
  'solteiro',
  'divorciado',
  'solteiro',
  'divorciado',
  'casado',
  'divorciado',
  'casado',
  'solteiro',
  'divorciado',
  'viuvo',
  'solteiro',
  'solteiro',
  'casado',
  'divorciado',
  'casado',
  'solteiro',
  'viuvo',
  'viuvo',
  'divorciado',
  'casado',
  'solteiro',
  'viuvo',
  'viuvo',
  'viuvo',
  'divorciado',
  'divorciado',
  'solteiro',
  'divorciado',
  'viuvo',
  'viuvo',
  'solteiro',
  'solteiro',
  'solteiro',
  'divorciado',
  'viuvo',
  'viuvo',
  'viuvo',
  'divorciado',
  'solteiro',
  'divorciado',
  'casado',
  'solteiro',
  'divorciado',
  'viuvo',
  'solteiro',
  'solteiro',
  'solteiro',
  'viuvo',
  'solteiro',
  'casado',
  'casado',
  'divorciado',
  'viuvo',
  'casado',
  'viuvo',
  'solteiro',
  'viuvo',
  'casado',
  'divorciado',
  'viuvo',
  'divorciado',
  'casado',
  'divorciado',
  'divorciado',
  'solteiro',
  'divorciado',
  'casado',
  'casado',
  'divorciado',
  'casado',
  'divorciado',
  'casado',
  'viuvo',
  'casado',
  'divorciado',
  'solteiro',
  'casado',
  'solteiro',
  'solteiro',
  'divorciado',
  'viuvo',
  'casado',
  'viuvo',
  'casado',
  'solteiro',
  'viuvo',
  'divorciado',
  'viuvo',
  'solteiro',
  'solteiro',
  'casado',
  'divorciado',
  'solteiro',
  'divorciado',
  'divorciado',
  'divorciado',
  'solteiro',
  'divorciado',
  'casado',
  'solteiro',
  'viuvo',
  'solteiro',
  'divorciado',
  'viuvo'],
 'sinistros': [0,
  1,
  1,
  0,
  1,
  1,
  0,
  0,
  1,
  0,
  1,
  0,
  0,
  1,
  0,
  1,
  1,
  1,
  1,
  1,
  1,
  0,
  1,
  1,
  0,
  1,
  0,
  0,
  1,
  0,
  1,
  1,
  0,
  0,
  1,
  0,
  0,
  1,
  0,
  0,
  1,
  1,
  0,
  0,
  1,
  1,
  0,
  1,
  0,
  1,
  0,
  1,
  0,
  1,
  0,
  0,
  0,
  1,
  1,
  1,
  0,
  1,
  1,
  0,
  0,
  1,
  1,
  1,
  1,
  0,
  1,
  1,
  1,
  0,
  0,
  0,
  1,
  1,
  1,
  1,
  0,
  0,
  1,
  0,
  1,
  0,
  1,
  0,
  1,
  1,
  0,
  1,
  0,
  0,
  1,
  1,
  1,
  0,
  1,
  1,
  0,
  0,
  1,
  1,
  1,
  1,
  0,
  1,
  1,
  0,
  0,
  1,
  1,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  1,
  1,
  0,
  0,
  0],
 'premios': [3729.2,
  9897.2,
  7807.21,
  144.2,
  108.96,
  9597.55,
  5524.51,
  5992.75,
  7898.68,
  2215.36,
  4221.2,
  8625.14,
  4219.49,
  8559.38,
  7120.37,
  2372.93,
  8914.56,
  2247.22,
  7521.34,
  2465.69,
  9428.85,
  471.22,
  4165.17,
  4467.8,
  2398.03,
  3368.96,
  876.17,
  9929.52,
  9218.3,
  3619.55,
  3381.2,
  8229.71,
  8606.91,
  959.07,
  3153.84,
  9931.21,
  8370.31,
  4563.54,
  3009.98,
  2418.72,
  4420.71,
  3463.43,
  8119.37,
  9491.75,
  5106.62,
  6452.44,
  33.79,
  6449.75,
  3714.54,
  3719.34,
  2303.2,
  8749.44,
  2724.66,
  6213.34,
  1218.77,
  8043.21,
  4463.93,
  9298.16,
  7868.48,
  3625.31,
  3399.81,
  6005.29,
  3331.29,
  8581.58,
  6392.62,
  5052.72,
  9043.3,
  6209.99,
  9239.88,
  9485.55,
  9147.12,
  8895.97,
  7658.12,
  9556.8,
  747.44,
  4474.44,
  9689.87,
  2470.51,
  3341.16,
  924.0,
  7856.13,
  3214.97,
  5494.57,
  3976.52,
  551.18,
  7979.23,
  8417.2,
  7603.08,
  3372.24,
  9121.03,
  66.06,
  9834.63,
  3622.99,
  7491.14,
  788.33,
  4401.43,
  5714.13,
  3031.78,
  3376.72,
  5483.03,
  6461.5,
  3015.37,
  3848.83,
  3965.2,
  1444.56,
  4284.08,
  9150.55,
  6337.04,
  3116.45,
  638.51,
  6334.02,
  2448.75,
  2239.58,
  2393.41,
  1458.12,
  332.46,
  3368.4,
  1664.74,
  6734.0,
  1741.46,
  5379.02,
  796.75,
  6517.87,
  6993.01,
  1442.37]}

* Visualização do DataFrame

In [3]:
tab.head()

  ids idades sexo estados_civis sinistros  premios
0   1     61    M         viuvo         0   3729.2
1   2    122    M      solteiro         1   9897.2
2   3     63    M        casado         1  7807.21
3   4     37    M        casado         0    144.2
4   5    115    F      solteiro         1   108.96

* Filtrando clientes com idades maiores do que 30

In [4]:
# tab[tab.idades > 30]
# tab[tab['idades'] > 30]
tab.query('idades > 30')

     ids idades sexo estados_civis sinistros  premios
0      1     61    M         viuvo         0   3729.2
1      2    122    M      solteiro         1   9897.2
2      3     63    M        casado         1  7807.21
3      4     37    M        casado         0    144.2
4      5    115    F      solteiro         1   108.96
..   ...    ...  ...           ...       ...      ...
120  121     96    F      solteiro         1  5379.02
121  122     54    M         viuvo         1   796.75
122  123     32    M      solteiro         0  6517.87
123  124     71    F    divorciado         0  6993.01
124  125     82    F         viuvo         0  1442.37

[109 rows x 6 columns]

* Filtrando clientes sem sinistros

In [5]:
tab.query('sinistros == 0')

     ids idades sexo estados_civis sinistros  premios
0      1     61    M         viuvo         0   3729.2
3      4     37    M        casado         0    144.2
6      7     69    F    divorciado         0  5524.51
7      8    107    M    divorciado         0  5992.75
9     10     46    F         viuvo         0  2215.36
11    12     62    F    divorciado         0  8625.14
12    13     97    F        casado         0  4219.49
14    15     77    F        casado         0  7120.37
21    22     51    M      solteiro         0   471.22
24    25     42    F    divorciado         0  2398.03
26    27     62    M    divorciado         0   876.17
27    28    110    F        casado         0  9929.52
29    30     99    F    divorciado         0  3619.55
32    33     66    F      solteiro         0  8606.91
33    34     31    M        casado         0   959.07
35    36     67    F        casado         0  9931.21
36    37    125    M      solteiro         0  8370.31
38    39    108    M         viuvo         0  3009.98
39    40     58    M    divorciado         0  2418.72
42    43     49    F         viuvo         0  8119.37
43    44     19    F         viuvo         0  9491.75
46    47     21    M    divorciado         0    33.79
48    49    105    F    divorciado         0  3714.54
50    51     38    M         viuvo         0   2303.2
52    53    110    M      solteiro         0  2724.66
54    55     67    F    divorciado         0  1218.77
55    56    101    F         viuvo         0  8043.21
56    57     82    M         viuvo         0  4463.93
60    61     30    F    divorciado         0  3399.81
63    64     43    M    divorciado         0  8581.58
64    65     93    F         viuvo         0  6392.62
69    70     33    F      solteiro         0  9485.55
73    74     22    M         viuvo         0   9556.8
74    75     57    M        casado         0   747.44
75    76     19    M         viuvo         0  4474.44
80    81     81    F         viuvo         0  7856.13
81    82    103    M    divorciado         0  3214.97
83    84     49    M    divorciado         0  3976.52
85    86    102    M      solteiro         0  7979.23
87    88     78    F        casado         0  7603.08
90    91     94    M        casado         0    66.06
92    93    105    F        casado         0  3622.99
93    94    106    M         viuvo         0  7491.14
97    98     21    M        casado         0  3031.78
100  101     91    M    divorciado         0   6461.5
101  102     39    F         viuvo         0  3015.37
106  107     26    M         viuvo         0  9150.55
109  110     20    F      solteiro         0   638.51
110  111    112    F      solteiro         0  6334.02
113  114     74    M      solteiro         0  2393.41
114  115     31    F    divorciado         0  1458.12
115  116     72    F    divorciado         0   332.46
116  117     45    M    divorciado         0   3368.4
118  119     21    M    divorciado         0   6734.0
119  120     25    M        casado         0  1741.46
122  123     32    M      solteiro         0  6517.87
123  124     71    F    divorciado         0  6993.01
124  125     82    F         viuvo         0  1442.37

* Exibir Idade e Prêmio

In [6]:
tab[['idades', 'premios']]
tab.loc[:, ['idades', 'premios']]
tab.iloc[:, [1,5]]

    idades  premios
0       61   3729.2
1      122   9897.2
2       63  7807.21
3       37    144.2
4      115   108.96
..     ...      ...
120     96  5379.02
121     54   796.75
122     32  6517.87
123     71  6993.01
124     82  1442.37

[125 rows x 2 columns]

* Exportando os dados para o csv

In [7]:
tab.to_csv(path_or_buf= 'dados.csv', index= False)

* Carregue esses dados de um csv

In [8]:
infos = pd.read_csv(filepath_or_buffer= 'dados.csv')
infos

     ids  idades sexo estados_civis  sinistros  premios
0      1      61    M         viuvo          0  3729.20
1      2     122    M      solteiro          1  9897.20
2      3      63    M        casado          1  7807.21
3      4      37    M        casado          0   144.20
4      5     115    F      solteiro          1   108.96
..   ...     ...  ...           ...        ...      ...
120  121      96    F      solteiro          1  5379.02
121  122      54    M         viuvo          1   796.75
122  123      32    M      solteiro          0  6517.87
123  124      71    F    divorciado          0  6993.01
124  125      82    F         viuvo          0  1442.37

[125 rows x 6 columns]

* Categorizando idades

In [9]:
for index, row in tab.iterrows():
    if(row['idades'] < 31):
        tab.loc[index, 'faixa_idade'] = 'Jovem'
    elif(row['idades'] < 46):
        tab.loc[index, 'faixa_idade'] = 'Adulto'
    else:
        tab.loc[index, 'faixa_idade'] = 'Senior'

tab

def faixas(idade):
    for i in idade:
        if i < 31:
            return 'Jovem'
        elif i < 46:
            return 'Adulto'
        else:
            return 'Senior'

tab['faixa_idade2'] = tab[['idades']].apply(faixas, axis= 1)
tab

def faixas(tabelas):
    if tabelas['idades'] < 31:
        return 'Jovem'
    elif tabelas['idades'] < 46:
        return 'Adulto'
    else:
        return 'Senior'

tab['faixa_idade3'] = tab.apply(faixas, axis= 1)
tab

,ids,idades,sexo,estados_civis,sinistros,premios,faixa_idade,faixa_idade2,faixa_idade3
0,1,61,M,viuvo,0,3729.2,Senior,Senior,Senior
1,2,122,M,solteiro,1,9897.2,Senior,Senior,Senior
2,3,63,M,casado,1,7807.21,Senior,Senior,Senior
3,4,37,M,casado,0,144.2,Adulto,Adulto,Adulto
4,5,115,F,solteiro,1,108.96,Senior,Senior,Senior
...,...,...,...,...,...,...,...,...,...
120,121,96,F,solteiro,1,5379.02,Senior,Senior,Senior
121,122,54,M,viuvo,1,796.75,Senior,Senior,Senior
122,123,32,M,solteiro,0,6517.87,Adulto,Adulto,Adulto
123,124,71,F,divorciado,0,6993.01,Senior,Senior,Senior
124,125,82,F,viuvo,0,1442.37,Senior,Senior,Senior

* Aplicando descontos

In [10]:
lista = [((tab['faixa_idade'] == 'Jovem') & (tab['sinistros'] == 0)), 
         (((tab['faixa_idade'] == 'Adulto') | (tab['faixa_idade'] == 'Senior')) & (tab['sinistros'] == 0))]
lista
desconto = [0.05, 0.1]
desconto
tab['desconto'] = np.select(condlist= lista, choicelist= desconto, default= 0) * tab['premios']
tab['premio_desc'] = tab['premios'] - tab['desconto']
tab

,ids,idades,sexo,estados_civis,sinistros,premios,faixa_idade,faixa_idade2,faixa_idade3,desconto,premio_desc
0,1,61,M,viuvo,0,3729.2,Senior,Senior,Senior,372.92,3356.28
1,2,122,M,solteiro,1,9897.2,Senior,Senior,Senior,0.0,9897.2
2,3,63,M,casado,1,7807.21,Senior,Senior,Senior,0.0,7807.21
3,4,37,M,casado,0,144.2,Adulto,Adulto,Adulto,14.42,129.78
4,5,115,F,solteiro,1,108.96,Senior,Senior,Senior,0.0,108.96
...,...,...,...,...,...,...,...,...,...,...,...
120,121,96,F,solteiro,1,5379.02,Senior,Senior,Senior,0.0,5379.02
121,122,54,M,viuvo,1,796.75,Senior,Senior,Senior,0.0,796.75
122,123,32,M,solteiro,0,6517.87,Adulto,Adulto,Adulto,651.787,5866.083
123,124,71,F,divorciado,0,6993.01,Senior,Senior,Senior,699.301,6293.709
124,125,82,F,viuvo,0,1442.37,Senior,Senior,Senior,144.237,1298.133